#experience {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience #title-text {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience #title-text #title{
    font-weight: 600;
    font-size: 48px;
    color: black;
    margin: 3rem auto 0 auto;
}

#experience-content {
    margin-bottom: 30px;
}

.exp-item {
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.exp-item-inner {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.company {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.points {
    font-family: sans-serif;
    line-height: 1.5rem;
    list-style: none;
    margin: 0;
}

.pts {
    position: relative;
    padding-left: 1em;
}

.pts::before {
    content: "- ";
    position: absolute;
    left: 0;
}