html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 300 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.space-grotesk-text {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}