#navbar {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}

#navbar.scrolled {
    background-color: whitesmoke;
}

#unordered_tab_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 800;
}

#unordered_tab_list li {
    margin: auto 1.5rem;
}

#unordered_tab_list li a {
    text-decoration: none;
    color: black;
}

